@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes movingBorder {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

@keyframes moveBg {
  from {
    background-position: 0% bottom;
  }
  to {
    background-position: -2000px bottom;
  }
}


@keyframes floaty {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(-20px);
  }
}

@keyframes stairFloaty {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
  }
}
