@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
@media (max-width: 900px) {
  .struggles-content {
    flex-direction: column;
    align-items: center;
    padding: 4rem 5vw;
    text-align: center;
  }
  .narrative-card {
    max-width: 90%;
  }
  .card {
    display: none;
  } /* hide on mobile for simplicity */
}

@media (max-width: 780px) {
  #section1-title,
  #section1-tagline {
    padding: 0 30px 0 30px;
  }
  .social-links {
    left: auto;
  }
  #lottie-container {
    height: 30px;
    padding: 0;
  }
  #section1-tagline {
    transform: translateY(220px);
  }
}

@media (max-width: 480px){
  #section2-title{
    padding-left: 20px;
  }
  #section2-title, #section3-title, #section4-title{
    font-size: 2rem;
  }
  .narrative-card-text{
    font-size: 1rem;
  }
  #section2-narrative-card{
    right: 5%;
  }
  .decoration-line-red {
    transform: translateX(90px) translateY(-250px);
  }
  .decoration-line-blue{
    transform: translateX(-110px) translateY(-5px);
  }
}
