@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

@media (max-width: 780px) {
  #section1-title,
  #section1-tagline {
    padding: 0 30px 0 30px;
  }
  .social-links {
    left: auto;
  }
  #lottie-container {
    height: 30px;
    padding: 0;
  }
  #section1-tagline {
    transform: translateY(220px);
  }
}

@media (max-width: 480px){
  #section2-title{
    font-size: 2rem;
    padding-left: 20px;
  }
  #section2-content-text{
    font-size: 1rem;
  }
  .line1{
    transform: translateX(100px);
  }
}
