@font-face {
  font-family: "poppins";
  src: url("./fonts/poppins/poppins-regular-webfont.woff2") format("woff2"),
    url("./fonts/poppins/poppins-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "orbitron";
  src: url("./fonts/orbitron/orbitron-variablefont_wght-webfont.woff2")
      format("woff2"),
    url("./fonts/orbitron/orbitron-variablefont_wght-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  background: linear-gradient(135deg, #fafcfd, #e0e0e0, #dedede);
  font-family: poppins, monospace, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}
/* Global */
.section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  width: 100%;
  height: 100vh;
  z-index: 2;
}
.section-heading {
  align-self: flex-start;
  margin-bottom: auto;
}
.title {
  font-size: 3rem;
  font-weight: 700;
  z-index: 1;
  color: #f6fbfc;
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
}
/* the narrative card */
.narrative-card {
  max-width: 520px;
  line-height: 1.6;
  position: absolute;
  letter-spacing: 0.1px;
  align-self: flex-end;
  right: 5vw;
  bottom: 15%;
  border-radius: 7px;
}

/* Header / Section 1 */
#logo {
  font-size: 1.5rem;
  font-weight: 700;
  position: absolute;
  top: 0;
  left: 0;
  padding: 30px;
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
}
.card {
  color: #bfe1ff;
  padding: 10px 14px;
  border-radius: 8px;
  font-size: 0.92rem;
  width: max-content;
  transform: translateY(0);
  position: absolute;
  cursor: pointer;
  animation: floaty 2s ease-in-out infinite alternate;
}
.card span {
  position: relative;
  z-index: 1;
}
.wrapper {
  overflow: hidden;
  position: relative;
  min-height: 100vh;
  width: 100%;
}
.scrollPanel {
  position: absolute;
  top: 0;
  left: 0;
}
header {
  position: relative;

  view-timeline-name: --headerView;
  view-timeline-axis: block;
}
#lottie-container {
  position: absolute;
  box-sizing: content-box;
  padding: 30px;
  bottom: 0;
  width: 150px;
  height: 50px;
}

#section1-title {
  position: absolute;
}
#section1-tagline {
  position: absolute;
  color: #919596;
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
  transform: translateY(50px);
  z-index: -1;

  animation-name: fadeOutLinks;
  animation-timeline: --headerView;
  animation-timing-function: linear;
  animation-duration: 1ms;
  animation-fill-mode: forwards;
  animation-range: entry 100% exit 70%;
}
.social-links {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  gap: 2rem;
  padding: 30px;
  opacity: 1;

  animation-name: fadeOutLinks;
  animation-timeline: --headerView;
  animation-timing-function: linear;
  animation-duration: 1ms;
  animation-fill-mode: forwards;
  animation-range: entry 100% exit 30%;
}

.social-links img {
  width: 24px;
}
/* Section 2 */
#section2 {
  position: relative;
  background: url(./images/section2/cloud.png) repeat-x;
  background-position: 0 bottom;
  background-size: auto 350px;

  animation: moveBg 100s linear infinite alternate;
}
/* narrative card */
#section2-narrative-card-text {
  padding: 1rem;
  font-size: 1.2rem;
  border-radius: 7px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-shadow: 2px 4px 4px rgb(255, 255, 255);
}
#section2-narrative-card-text::after {
  content: "";
  inset: -1px;
  z-index: -1;
  border-radius: 7px;
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
#section2-narrative-card {
  position: absolute;
  right: 10%;
  bottom: 15%;
}
.decoration-line {
  height: 100px;
  position: absolute;
}
.decoration-line-red {
  transform: translateX(-310px) translateY(-150px);
}
.decoration-line-blue {
  transform: translateX(50px) translateY(-40px);
}
.decoration-line::after {
  content: "";
  position: absolute;
  left: 0;
  width: 2px;
}
.decoration-line-red::after {
  top: 0;
  background: red;
  animation: lineGrowDown linear both;
  animation-range: entry 0% cover 50%;
  animation-timeline: view();
}
.decoration-line-blue::after {
  bottom: 0;
  background: blue;
  animation: lineGrowUp linear both;
  animation-range: entry 0% cover 50%;
  animation-timeline: view();
}

/* Section 3 - The Struggles */
#section3 {
  background: #272626;
}
#section3-content {
  position: absolute;
  padding: 30px;
  height: 100%;
  width: 100%;
  z-index: 2;
}
#section3-title {
  color: #fff;
  text-shadow: -2px 4px 4px #272626, -2px 4px 4px rgba(255, 255, 255, 0.3);
}
#section3-heading {
  position: relative;
}
#section3-tagline {
  position: absolute;
  font-family: monospace;
  letter-spacing: 1px;
  color: #d60b0be0;
  text-shadow: 0px 7px 7px rgb(0, 0, 0);
}
/* floaty cards */
#section3 .card {
  color: #ffffff8a;
  background: linear-gradient(
    135deg,
    rgba(170, 80, 80, 0.04),
    rgba(255, 255, 255, 0.02)
  );
  border: 1px solid rgba(255, 255, 255, 0.06);
  box-shadow: 0 7px 4px rgba(0, 0, 0, 0.1);
}
.card::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  transition: all 0.3s ease;
  border-radius: 8px;
  z-index: 1;
}
#section3 .card::before {
  background: #ff0000;
}
.card:hover::before {
  height: 100%;
}
#section3 .card:hover {
  color: #fff;
  font-weight: 600;
  box-shadow: 2px 2px 50px rgba(255, 0, 0, 0.5);
}
/* narrative card */
#section3-narrative-card {
  padding: 1rem;
  color: #fff;
  background: #272626;
  cursor: pointer;
  box-shadow: 2px 2px 50px rgba(255, 0, 0, 0.1),
    4px 10px 10px rgba(0, 0, 0, 0.2);
}
#section3-narrative-card::after {
  content: "";
  position: absolute;
  inset: -1px;
  border-radius: 7px;
  background: conic-gradient(from var(--angle), red, #272626, red);
  animation: movingBorder 3s linear infinite;
  z-index: -1;
}

.card1 {
  left: 5%;
  top: 35%;
  animation: floaty 2s ease-in infinite alternate;
}
.card2 {
  right: 40%;
  top: 20%;
  animation: floaty 2s ease-out infinite alternate-reverse;
}
.card3 {
  left: 4%;
  bottom: 15%;
  animation: floaty 2s ease-in-out infinite alternate;
}
.card4 {
  top: 40%;
  animation: floaty 2s linear infinite alternate-reverse;
}
.card5 {
  top: 60%;
  left: 5%;
  animation: floaty 2s cubic-bezier(0.25, 0.1, 0.25, 1) infinite alternate;
}
.card6 {
  top: 30%;
  left: 25%;
  animation: floaty 2s cubic-bezier(0.42, 0, 0.58, 1) infinite alternate;
}
.card7 {
  top: 45%;
  left: 18%;
  animation: floaty 2s cubic-bezier(0.33, 1, 0.68, 1) infinite alternate-reverse;
}
.card8 {
  top: 80%;
  animation: floaty 2s cubic-bezier(0.55, 0.055, 0.675, 0.19) infinite
    alternate-reverse;
}
.card9 {
  top: 60%;
  left: 25%;
  animation: floaty 2s cubic-bezier(0.215, 0.61, 0.355, 1) infinite alternate;
}
.card10 {
  top: 35%;
  left: 35%;
  animation: floaty 2s cubic-bezier(0.895, 0.03, 0.685, 0.22) infinite alternate;
}
.card11 {
  top: 36%;
  left: 58%;
  animation: floaty 2s cubic-bezier(0.165, 0.84, 0.44, 1) infinite alternate;
}
.card12 {
  top: 55%;
  left: 40%;
  animation: floaty 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) infinite alternate;
}
.card13 {
  top: 75%;
  left: 15%;
  animation: floaty 2s cubic-bezier(0.6, 0.04, 0.98, 0.335) infinite
    alternate-reverse;
}
.card14 {
  top: 70%;
  left: 33%;
  animation: floaty 2s cubic-bezier(0.33, 0.7, 0.45, 1) infinite
    alternate-reverse;
}
.card15 {
  top: 90%;
  left: 30%;
  animation: floaty 2s cubic-bezier(0.215, 0.61, 0.355, 1) infinite
    alternate-reverse;
}

/* Section 4 - The Rise */
#section4 {
  color: #f5f5f5;
  background: linear-gradient(135deg, #1a1b1b, #1a1b1b);
}

#section4::before {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(
    circle at top center,
    rgba(207, 143, 40, 0.822),
    transparent 70%
  );
  pointer-events: none;
}
.section4-tagline {
  color: #ccc49fa6;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  line-height: 2;
  font-family: monospace;
}
.section4-tagline1 {
  transform: translateY(60px);
}
.section4-tagline2 {
  transform: translateX(250px) translateY(215px);
}
.section4-tagline3 {
  transform: translateY(300px);
}
#section4 .card {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(6px);
  border-radius: 12px;
  padding: 6px 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: #ffffffaf;
}
#section4 .card::before {
  background: rgba(255, 157, 0, 0.822);
}
#section4 .card:hover {
  color: #fff;
  font-weight: 600;
  box-shadow: 2px 2px 50px rgba(255, 157, 0, 0.822);
}
#section4-narrative-card {
  background: linear-gradient(135deg, #3b3939, #161616);
  backdrop-filter: blur(10px);
  border-radius: 16px;
  padding: 20px 28px;
  max-width: 420px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  cursor: crosshair;
  transform-style: preserve-3d;
  transition: transform 0.2s ease, box-shadow 0.3s ease;
  perspective: 1000px;
}

#section4-narrative-card:hover {
  box-shadow: 2px 2px 20px rgb(0, 0, 0);
}

#section4-narrative-card-text span {
  transform-style: preserve-3d;
  perspective: 1000px;
  transform: translateZ(50px);
}
#section4-narrative-card:hover #section4-narrative-card-text span {
  text-shadow: 0px 14px 7px rgba(0, 0, 0, 0.5);
}

.Rcard1 {
  bottom: 5%;
  left: 3%;
  animation: stairFloaty 2s ease-in-out alternate infinite;
}
.Rcard2 {
  bottom: 12%;
  left: 13%;
  animation: stairFloaty 2s ease-in-out alternate infinite;
  animation-delay: 2s;
}
.Rcard3 {
  bottom: 20%;
  left: 20%;
  animation: stairFloaty 2s ease-in-out alternate infinite;
  animation-delay: 4s;
}
.Rcard4 {
  bottom: 29%;
  left: 31%;
  animation: stairFloaty 2s ease-in-out alternate infinite;
  animation-delay: 6s;
}
.Rcard5 {
  bottom: 37%;
  left: 44%;
  animation: stairFloaty 2s ease-in-out alternate infinite;
  animation-delay: 8s;
}
.Rcard6 {
  bottom: 45%;
  left: 36%;
  animation: stairFloaty 2s ease-in-out alternate infinite;
  animation-delay: 10s;
}
.Rcard7 {
  bottom: 55%;
  left: 28%;
  animation: stairFloaty 2s ease-in-out alternate infinite;
  animation-delay: 12s;
}
.Rcard8 {
  bottom: 65%;
  left: 20%;
  animation: stairFloaty 2s ease-in-out alternate infinite;
  animation-delay: 14s;
}
.Rcard9 {
  bottom: 75%;
  left: 9%;
  animation: stairFloaty 2s ease-in-out alternate infinite;
  animation-delay: 16s;
}

#section5 {
  background: orange;
}
