@font-face {
  font-family: "poppins";
  src: url("./fonts/poppins/poppins-regular-webfont.woff2") format("woff2"),
    url("./fonts/poppins/poppins-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  background: linear-gradient(135deg, #fafcfd, #e0e0e0, #dedede);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}
/* Header / Section 1 */
#logo {
  font-family: poppins;
  font-size: 1.5rem;
  font-weight: 700;
  position: absolute;
  top: 0;
  left: 0;
  padding: 30px;
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
}
header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* overflow: hidden; */

  view-timeline-name: --headerView;
  view-timeline-axis: block;
}
#lottie-container {
  position: absolute;
  box-sizing: content-box;
  padding: 30px;
  bottom: 0;
  width: 150px;
  height: 50px;
}
.title {
  font-family: poppins;
  font-size: 3rem;
  font-weight: 700;
  z-index: 1;
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
  color: #f6fbfc;
}
#section1-title{
  position: absolute;
}
#section1-tagline {
  position: absolute;
  font-family: poppins;
  color: #919596;
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
  transform: translateY(50px);
  z-index: -1;

  animation-name: fadeOutLinks;
  animation-timeline: --headerView;
  animation-timing-function: linear;
  animation-duration: 1ms;
  animation-fill-mode: forwards;
  animation-range: entry 100% exit 70%;
}
.social-links {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  gap: 2rem;
  padding: 30px;
  opacity: 1;

  animation-name: fadeOutLinks;
  animation-timeline: --headerView;
  animation-timing-function: linear;
  animation-duration: 1ms;
  animation-fill-mode: forwards;
  animation-range: entry 100% exit 30%;
}

.social-links img {
  width: 24px;
}
/* Section 2 */
#section2 {
  width: 100%;
  height: 100vh;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;

  background: url(./images/section2/cloud.png) repeat-x;
  background-position: 0 bottom;
  background-size: auto 350px;
  animation: moveBg 100s linear infinite;
}

#section2-title{
  align-self: flex-start;
  margin-bottom: auto;
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);

  animation: appear 1ms linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

#section2-content {
  max-width: 50vw;
  align-self: flex-end;
  margin-bottom: 40vh;
  margin-right: 2vw;

  animation: TextAppear both;
  animation-timeline: view();
  animation-range: entry 20% cover 30%;
}

#section2-content-text {
  font-family: poppins;
  color: #646464;
  font-weight: 500;
  font-size: 1.2rem;
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);

  background-color: #ffffff;
  border-radius: 7px;
  padding: 1rem;
}

#section2-content-text::after {
  content: "";
  position: absolute;
  inset: -2px;
  background: conic-gradient(
    from var(--angle),
    #ffffff,
    #7a7a7a,
    #ffffff
  );
  border-radius: 7px;
  z-index: -1;
  animation: movingBorder 3s linear infinite;
}
.line{
  height: 100px;
  position: relative;
}
.line1{
  transform: translateX(-310px);
}
.line2{
  transform: translateY(-10px);
}
.line::after{
  content: "";
  position: absolute;
  left: 0;
  width: 2px;
}
.line1::after{
  top: 0;
  background: red;
  animation: lineGrowDown linear both;
  animation-range: entry 0% cover 50%;
  animation-timeline: view();
}
.line2::after{
  bottom: 0;
  background: blue;
  animation: lineGrowUp linear both;
  animation-range: entry 0% cover 50%;
  animation-timeline: view();
}

.test {
  height: 100px;
  width: 200px;

  position: absolute;
}
