@font-face {
  font-family: "poppins";
  src: url("./fonts/poppins/poppins-regular-webfont.woff2") format("woff2"),
    url("./fonts/poppins/poppins-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "orbitron";
  src: url("./fonts/orbitron/orbitron-variablefont_wght-webfont.woff2")
      format("woff2"),
    url("./fonts/orbitron/orbitron-variablefont_wght-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  background: linear-gradient(135deg, #fafcfd, #e0e0e0, #dedede);
  font-family: poppins, monospace, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}
/* Global */
.section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  width: 100%;
  height: 100vh;
  z-index: 2;
}
.section-heading {
  align-self: flex-start;
  margin-bottom: auto;

  animation: appear 1ms linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}
.title {
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
}
/* the narrative card */
.narrative-card {
  max-width: 520px;
  background: rgba(6, 12, 30, 1);
  box-shadow: 2px 4px 4px rgba(2, 6, 20, 0.6);
  line-height: 1.6;
  letter-spacing: 0.1px;
  align-self: flex-end;

  position: absolute;
  bottom: 15%;
  right: 5vw;

  animation: TextAppear both;
  animation-timeline: view();
  animation-range: entry 20% cover 30%;
}
.narrative-card-text {
  padding: 1rem;
  color: #000000;
  font-size: 1.2rem;
  border-radius: 7px;
  background-color: #ffffff;
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}
.narrative-card-text::after {
  content: "";
  position: absolute;
  inset: -2px;
  background: conic-gradient(from var(--angle), #ffffff, #000000, #ffffff);
  border-radius: 7px;
  z-index: -1;
  animation: movingBorder 3s linear infinite;
}
/* Header / Section 1 */
#logo {
  font-family: poppins;
  font-size: 1.5rem;
  font-weight: 700;
  position: absolute;
  top: 0;
  left: 0;
  padding: 30px;
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
}

header {
  position: relative;

  view-timeline-name: --headerView;
  view-timeline-axis: block;
}
#lottie-container {
  position: absolute;
  box-sizing: content-box;
  padding: 30px;
  bottom: 0;
  width: 150px;
  height: 50px;
}
.title {
  font-family: poppins;
  font-size: 3rem;
  font-weight: 700;
  z-index: 1;
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
  color: #f6fbfc;
}
#section1-title {
  position: absolute;
}
#section1-tagline {
  position: absolute;
  color: #919596;
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
  transform: translateY(50px);
  z-index: -1;

  animation-name: fadeOutLinks;
  animation-timeline: --headerView;
  animation-timing-function: linear;
  animation-duration: 1ms;
  animation-fill-mode: forwards;
  animation-range: entry 100% exit 70%;
}
.social-links {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  gap: 2rem;
  padding: 30px;
  opacity: 1;

  animation-name: fadeOutLinks;
  animation-timeline: --headerView;
  animation-timing-function: linear;
  animation-duration: 1ms;
  animation-fill-mode: forwards;
  animation-range: entry 100% exit 30%;
}

.social-links img {
  width: 24px;
}
/* Section 2 */
#section2 {
  background: url(./images/section2/cloud.png) repeat-x;
  background-position: 0 bottom;
  background-size: auto 350px;

  animation-name: moveBg, fadeOut;
  animation-duration: 100s, 1s;
  animation-timing-function: linear, linear;
  animation-iteration-count: infinite, 1;
  animation-fill-mode: none, both;
  animation-timeline: auto, view();
  animation-range: normal, entry 100% cover 90%;
}
#section2-narrative-card {
  position: absolute;
  right: 10%;
  bottom: 15%;
}
.decoration-line {
  height: 100px;
  position: absolute;
}
.decoration-line-red {
  transform: translateX(-310px) translateY(-150px);
}
.decoration-line-blue {
  transform: translateX(50px) translateY(-40px);
}
.decoration-line::after {
  content: "";
  position: absolute;
  left: 0;
  width: 2px;
}
.decoration-line-red::after {
  top: 0;
  background: red;
  animation: lineGrowDown linear both;
  animation-range: entry 0% cover 50%;
  animation-timeline: view();
}
.decoration-line-blue::after {
  bottom: 0;
  background: blue;
  animation: lineGrowUp linear both;
  animation-range: entry 0% cover 50%;
  animation-timeline: view();
}

/* Section 3 - The Struggles */
#section3 {
  position: relative;
  color: #fff;

  background: url(./images/section3/background.jpg) no-repeat;

  background-position: bottom;
  background-size: cover;

  animation: fadeIn linear both;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}

#section3::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    135deg,
    rgba(0, 0, 0, 0.719),
    rgba(42, 42, 61, 0.8),
    rgba(0, 0, 0, 0.9)
  );

  background-size: 200% 200%;

  animation: gradientShift 15s ease-in-out infinite;

  pointer-events: none;
  z-index: -1;
}
#section3-content {
  position: absolute;
  padding: 30px;
  height: 100%;
  width: 100%;
  z-index: 2;
}
#section3-title {
  color: #fff;
  text-shadow: 2px 4px 2px #ffffff50;
}
#section3-heading {
  position: relative;
}
#section3-tagline {
  position: absolute;
  font-family: monospace;
  letter-spacing: 1px;
  color: #ffffff;
}

.card {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.04),
    rgba(255, 255, 255, 0.02)
  );
  border: 1px solid rgba(255, 255, 255, 0.06);
  color: #bfe1ff;
  padding: 10px 14px;
  border-radius: 8px;
  font-size: 0.92rem;
  width: max-content;
  box-shadow: 0 6px 4px rgba(8, 14, 30, 0.5);
  transform: translateY(0);
  position: absolute;

  animation: floaty 2s ease-in-out infinite alternate;
}

.card1 {
  left: 5%;
  top: 35%;
  animation: floaty 2s ease-in infinite alternate;
}
.card2 {
  right: 40%;
  top: 20%;
  animation: floaty 2s ease-out infinite alternate-reverse;
}
.card3 {
  left: 4%;
  bottom: 15%;
  animation: floaty 2s ease-in-out infinite alternate;
}
.card4 {
  top: 40%;
  animation: floaty 2s linear infinite alternate-reverse;
}
.card5 {
  top: 60%;
  left: 5%;
  animation: floaty 2s cubic-bezier(0.25, 0.1, 0.25, 1) infinite alternate;
}
.card6 {
  top: 30%;
  left: 25%;
  animation: floaty 2s cubic-bezier(0.42, 0, 0.58, 1) infinite alternate;
}
.card7 {
  top: 45%;
  left: 18%;
  animation: floaty 2s cubic-bezier(0.33, 1, 0.68, 1) infinite alternate-reverse;
}
.card8 {
  top: 80%;
  animation: floaty 2s cubic-bezier(0.55, 0.055, 0.675, 0.19) infinite
    alternate-reverse;
}
.card9 {
  top: 60%;
  left: 25%;
  animation: floaty 2s cubic-bezier(0.215, 0.61, 0.355, 1) infinite alternate;
}
.card10 {
  top: 35%;
  left: 35%;
  animation: floaty 2s cubic-bezier(0.895, 0.03, 0.685, 0.22) infinite alternate;
}
.card11 {
  top: 36%;
  left: 58%;
  animation: floaty 2s cubic-bezier(0.165, 0.84, 0.44, 1) infinite alternate;
}
.card12 {
  top: 55%;
  left: 40%;
  animation: floaty 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) infinite alternate;
}
.card13 {
  top: 75%;
  left: 15%;
  animation: floaty 2s cubic-bezier(0.6, 0.04, 0.98, 0.335) infinite
    alternate-reverse;
}
.card14 {
  top: 70%;
  left: 33%;
  animation: floaty 2s cubic-bezier(0.33, 0.7, 0.45, 1) infinite
    alternate-reverse;
}
.card15 {
  top: 90%;
  left: 30%;
  animation: floaty 2s cubic-bezier(0.215, 0.61, 0.355, 1) infinite
    alternate-reverse;
}

/* Section 4 - The Rise */

.section4-tagline {
  color: #7e7c7c;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  transform: translateY(80px);
  line-height: 2;
  font-family: monospace;
}
.section4-tagline1{
  transform: translateY(60px);
}
.section4-tagline2{
  transform: translateX(250px) translateY(215px);
}
.section4-tagline3{
  transform: translateY(300px);
}

#section4 .card{
  color: #000000;
  right: 0;
  /* animation: stairFloaty 2s ease-in-out alternate infinite; */
}
.Rcard1{
  bottom: 5%;
  left: 3%;
  animation: stairFloaty 2s ease-in-out alternate infinite;
}
.Rcard2{
  bottom: 12%;
  left: 13%;
  animation: stairFloaty 2s ease-in-out alternate infinite;
  animation-delay: 2s;
}
.Rcard3{
  bottom: 20%;
  left: 20%;
  animation: stairFloaty 2s ease-in-out alternate infinite;
  animation-delay: 4s;
}
.Rcard4{
  bottom: 29%;
  left: 31%;
  animation: stairFloaty 2s ease-in-out alternate infinite;
  animation-delay: 6s;
}
.Rcard5{
  bottom: 37%;
  left: 44%;
  animation: stairFloaty 2s ease-in-out alternate infinite;
  animation-delay: 8s;
}
.Rcard6{
  bottom: 45%;
  left: 36%;
  animation: stairFloaty 2s ease-in-out alternate infinite;
  animation-delay: 10s;
}
.Rcard7{
  bottom: 55%;
  left: 28%;
  animation: stairFloaty 2s ease-in-out alternate infinite;
  animation-delay: 12s;
}
.Rcard8{
  bottom: 65%;
  left: 20%;
  animation: stairFloaty 2s ease-in-out alternate infinite;
  animation-delay: 14s;
}
.Rcard9{
  bottom: 75%;
  left: 9%;
  animation: stairFloaty 2s ease-in-out alternate infinite;
  animation-delay: 16s;
}